<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="a105227b-c047-45ac-8e05-6d884a1e3680" Publisher="CN=L" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="a105227b-c047-45ac-8e05-6d884a1e3680" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>App8.WindowsPhone</DisplayName>
    <PublisherDisplayName>L</PublisherDisplayName>
    <Logo>Assets\icone_white.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FamilyLinks.WindowsPhone.App">
      <m3:VisualElements DisplayName="FamilyLinks.WindowsPhone" Square150x150Logo="Assets\icone_white.jpg" Square44x44Logo="Assets\icone_white.jpg" Description="App8.WindowsPhone" ForegroundText="light" BackgroundColor="white">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\splash.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>